@keyframes roll-in-left {
  0% {
    transform: translateX(-50px) rotate(-540deg);
    opacity: 0;
  }
  to {
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
.typescript1 {
  position: absolute;
  top: calc(50% - 6.5px);
  left: calc(50% - 28px);
  line-height: 142.5%;
  display: inline-block;
  width: 54px;
  height: 19px;
}
.vector-icon {
  position: absolute;
  height: 97.66%;
  width: 97.66%;
  top: 1.1%;
  right: 0.78%;
  bottom: 1.24%;
  left: 1.56%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  opacity: 0;
}
.logosjavascript-plain-icon.animate,
.logospython-original-wordmark-icon.animate,
.vector-icon.animate {
  animation: 3s ease-in 0s 1 normal forwards roll-in-left;
}
.logostypescript-plain {
  position: absolute;
  top: 7px;
  left: 13.5px;
  width: 30px;
  height: 30px;
}
.base-icon9 {
  opacity: 0.2;
}
.base-icon9,
.ellipse-icon9 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.div9 {
  position: absolute;
  height: 36.92%;
  width: 86.15%;
  top: 31.54%;
  left: 6.92%;
  letter-spacing: -0.02em;
  line-height: 22px;
  display: inline-block;
}
.loader9,
.typescript {
  position: absolute;
  overflow: hidden;
}
.loader9 {
  top: calc(50% - 20.5px);
  left: calc(50% + 30px);
  width: 40px;
  height: 40px;
  font-size: var(--font-size-6xs);
  color: var(--dark-theme-label-31);
}
.typescript {
  top: 15px;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 144px;
  height: 45px;
}
.python1 {
  position: absolute;
  top: calc(50% - 12.5px);
  left: calc(50% - 33px);
  line-height: 142.5%;
  display: inline-block;
  width: 53px;
  height: 25px;
}
.loader10 {
  position: absolute;
  top: 3px;
  left: 102px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  font-size: var(--font-size-6xs);
  color: var(--dark-theme-label-31);
}
.logospython-original-wordmark-icon {
  position: absolute;
  top: 6px;
  left: 13.5px;
  width: 30px;
  height: 30px;
  opacity: 0;
}
.python {
  position: absolute;
  top: 177px;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 144px;
  height: 45px;
  overflow: hidden;
  font-size: var(--font-size-2xs);
}
.logosjavascript-plain-icon {
  position: absolute;
  top: 7px;
  left: 13.5px;
  width: 30px;
  height: 30px;
  opacity: 0;
}
.javascript,
.loader11 {
  position: absolute;
  overflow: hidden;
}
.loader11 {
  top: 2px;
  left: 102px;
  width: 40px;
  height: 40px;
  font-size: var(--font-size-6xs);
  color: var(--dark-theme-label-31);
}
.javascript {
  top: 95px;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--color-gray-100);
  width: 144px;
  height: 45px;
}
.dev-ops {
  position: relative;
  width: 149px;
  height: 225px;
  flex-shrink: 0;
  text-align: center;
  font-size: var(--font-size-5xs);
  color: var(--primary-contrast1);
  font-family: var(--font-iceberg);
}
@media screen and (max-width: 960px) {
  .vector-icon {
    opacity: 0;
  }
  .vector-icon.animate {
    animation: 2s ease-in 0s 2 normal forwards roll-in-left;
  }
  @keyframes roll-in-left {
    0% {
      transform: translateX(-50px) rotate(-540deg);
      opacity: 0;
    }
    to {
      transform: translateX(0) rotate(0deg);
      opacity: 1;
    }
  }
}
